.page {
   width: 70vw;
   height: 80vh;
   display: grid;
   grid-template-columns: 1fr 46fr 1fr;
   grid-template-rows: 9fr 1fr;
   border-radius: 0.5em;
   background-color: #c7c7c7;
   box-shadow: 0.5vw 0.5vh 1.3vw 1vw #505050;
}
